.card {
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
  background: white;
}

.card:empty {
  display: none;
}

.new-game {
  width: 25rem;

  display: flex;
  flex-direction: column;
  /* border: 2px red solid; */
  margin: 3rem 0 0 0;
}

.join-game {
  width: 25rem;
  background-color: rgba(209, 178, 235, 0.5);
  margin: 0.5rem 0;

  display: flex;
  flex-direction: column;
}

.select-color {
  width: 25rem;
  background-color: rgba(209, 178, 235, 0.5);
  margin: 3rem 0 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.manage-game {
  width: 25rem;
  margin: 2.5rem 0;

  display: flex;
  flex-direction: column;
}

.sidebar-dashboard {
  width: 90%;
  background-color: rgba(209, 178, 235, 0);
}

.gameover {
  border: 1rem solid #ff0055;
  box-shadow: 0 0.2rem 0.8rem #ff0055;
  border-radius: 0.6rem;
  background-color: #ff0055;
  color: white;
  font-weight: bold;
  padding: 0.2rem 0.2rem;
  margin: 1rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
