.spinner-container {
  display: flex;
  justify-content: center;
  height: 5rem;
}

.chess-piece-container {
  height: 70%;
  width: 70%;
  margin: 0 0 0.4rem 0;

  display: flex;
}

.chess-piece-container svg {
  width: 100%;
  aspect-ratio: 1;
}
